<ion-header>
    <ion-toolbar color="secondary">
        <ion-title class="ion-text-center">Registrarse</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <br>
    <img class="icon" src="assets/icon/login.png" alt="">
    <br>
    <ion-item>
        <ion-label position="floating">DNI</ion-label>
        <ion-input type="text" [(ngModel)]="newUser.dni" name="dni"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="newUser.name" name="name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input type="text" [(ngModel)]="newUser.surname" name="surname"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Ciclo</ion-label>
        <ion-input type="text" [(ngModel)]="newUser.cicle" name="cicle"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">email</ion-label>
        <ion-input type="text" [(ngModel)]="newUser.email" name="email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">password</ion-label>
        <ion-input type="password" [(ngModel)]="newUser.password" name="password"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Confirm password</ion-label>
        <ion-input type="password" [(ngModel)]="confPassword" name="confpassword"></ion-input>
    </ion-item>
    <br>
    <ion-button color="secondary" (click)="OnSubmitRegister()" expand="block">Registrarse</ion-button>
    <br>
    <p class="ion-text-center" routerLink="/login">Volver a Login</p>
</ion-content>