<ion-grid fixed>
    <ion-row>
        <ion-col size="12" size-lg="3" size-md="2" size-sm="6" size-xs="12" *ngFor="let oferta of ofertas; let i = index">
            <app-oferta [oferta]="oferta" [i]="i"></app-oferta>
        </ion-col>
    </ion-row>
</ion-grid>