<ion-header>
    <ion-toolbar color="primary" class="ion-class text-center">
        <ion-title>OFERTAS DISPONIBLES</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="onLogout()">
                <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-ofertas [ofertas]="ofertas"></app-ofertas>
</ion-content>