<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start" (click)="cerrarModal()">
            <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
        </ion-buttons>
        <ion-title>OFERTA</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label class="ion-text-center">
                <h1><b>{{ titular }}</b></h1>
            </ion-label>
        </ion-item>
        <p class="ion-text-uppercase"><b>Ciclo: </b></p>
        <ion-item>
            <ion-label>
                {{ ciclo }}
            </ion-label>
        </ion-item>
        <p class="ion-text-uppercase"><b>Descripción: </b></p>
        <ion-item>
            <ion-label>
                {{ descripcion }}
            </ion-label>
        </ion-item>
        <p class="ion-text-uppercase"><b>Fecha Máxima para aplicar: </b></p>
        <ion-item>
            <ion-label>
                {{ fechamax }}
            </ion-label>
        </ion-item>
        <p class="ion-text-uppercase"><b>Número de candidatos inscritos: </b></p>
        <ion-item>
            <ion-label>
                {{ numcandidatos }}
            </ion-label>
        </ion-item>
        <p class="ion-text-uppercase"><b>Requisitos: </b></p>
        <ion-item *ngFor="let requisito of requisitos">
            <ion-label>
                {{ requisito }}
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>