<ion-header>
    <ion-toolbar class="ion-class text-center" color="primary">
        <ion-title>Iniciar Sesión</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <br>
    <img class="icon" src="assets/icon/login.png" alt="">
    <br>
    <ion-item>
        <ion-label position="floating">email</ion-label>
        <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">password</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
    </ion-item>
    <br>
    <ion-button (click)="OnSubmitLogin()" expand="block">Entrar</ion-button>
    <br>
    <p class="ion-text-center" routerLink="/register">Crear cuenta</p>
</ion-content>