<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="offers">
                <ion-icon name="build-outline"></ion-icon>
                <ion-label>Ofertas</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="applies">
                <ion-icon name="thumbs-up-outline"></ion-icon>
                <ion-label>Apliques</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>