<ion-card>
    <ion-card-header>
        <ion-card-subtitle>
            <span class="text-primary">{{ i + 1 }}. </span>
            <span class="noticia-source-name">{{ oferta.titular }}</span>
        </ion-card-subtitle>
        <ion-card-title>{{ oferta.descripcion }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-list>
            <ion-item *ngFor="let registro of oferta.registros">
                <ion-label>
                    {{ registro }}
                </ion-label>
            </ion-item>
            <ion-item lines="none">
                <ion-icon name="time-outline" slot="start"></ion-icon>
                <ion-label> Activa</ion-label>
                <ion-buttons slot="end">
                    <ion-button fill="outline" (click)="viewOffer(oferta)">VER</ion-button>
                    <ion-button fill="outline" (click)="applyOffer(oferta)">APLICAR</ion-button>
                </ion-buttons>
            </ion-item>
        </ion-list>
    </ion-card-content>
</ion-card>